In [1]:
import pandas as pd

# df.loc vs df.iloc

In [ ]:
# If no any index is passed pandas creates it's default index which is equal to row-number.
# But if we passes/creates index explicitly. Then we can access rows by either index or row-number.

# Let's understand it by example.

In [18]:
df = pd.DataFrame([0,11,22,33,44,55,66,77,88,99], index=[41,42,43,44,45,1,2,3,4,5])
df

     0
41   0
42  11
43  22
44  33
45  44
1   55
2   66
3   77
4   88
5   99

In [19]:
# Here we have passed index by ourselves so we have to kind of indexes here
# 1) index = defined by us
# 2) row-number = defined by pandas or default indexing.

In [20]:
df.index

Int64Index([41, 42, 43, 44, 45, 1, 2, 3, 4, 5], dtype='int64')

In [ ]:
# So to access rows by using index we use df.loc[index]
# to access rows by using default indexig we use df.iloc[row-number]

# in short
# df.loc[]  --> use index
# df.iloc[] --> use row-number

In [4]:
df.loc[45]

# Here 0 is column name

0    44
Name: 45, dtype: int64

In [5]:
# Now to access the same value using iloc we have to give the row-number

df.iloc[4]

0    44
Name: 45, dtype: int64

In [ ]:
# it means default index 4 = custom index 45
# Here we can call default index as row-number to end the confusion.

# more example

In [6]:
df.loc['A']

0    88
Name: A, dtype: int64

In [7]:
df.iloc[8]

0    88
Name: A, dtype: int64

### What if we pass index in iloc[ ]

In [ ]:
# df.iloc[44]

# Our dataframe is of only 10 values and so it has no row-number=45, but only (0 to 9)

<code>IndexError: single positional indexer is out-of-bounds</code>

### What if we pass row-num in loc[ ]

In [ ]:
# df.loc[9]

<code>KeyError: 9</code>

# slicing to clear the idea more.

In [8]:
df.iloc[:2]

     0
41   0
42  11

In [21]:
df.loc[:2]

     0
41   0
42  11
43  22
44  33
45  44
1   55
2   66