In [1]:
import pandas as pd

# Load Data into DataFrame

In [2]:
df = pd.read_csv('weather_data.csv')

In [3]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
df2 = pd.read_excel('weather_excel.xlsx')

In [5]:
df2

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-02-01           35          7  Sunny
2 2017-03-01           28          2   Snow
3 2017-04-01           24          7   Snow
4 2017-05-01           32          4   Rain
5 2017-06-01           31          2  Sunny

In [11]:
df2.info()

# Notice excel file's date is in datetime64 format.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      datetime64[ns]
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: datetime64[ns](1), int64(2), object(1)
memory usage: 320.0+ bytes

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          6 non-null      object
 1   temperature  6 non-null      int64
 2   windspeed    6 non-null      int64
 3   event        6 non-null      object
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes

# Save/Store data into files.

In [14]:
# To store data into csv file
# Lets add a new column before saving.

df['go_outside'] = ['No', 'Yes', 'Yes', 'Yes', 'No', 'Yes']

In [15]:
df

        day  temperature  windspeed  event go_outside
0  1/1/2017           32          6   Rain         No
1  1/2/2017           35          7  Sunny        Yes
2  1/3/2017           28          2   Snow        Yes
3  1/4/2017           24          7   Snow        Yes
4  1/5/2017           32          4   Rain         No
5  1/6/2017           31          2  Sunny        Yes

In [16]:
# Now we will save the dataframe into csv file

df.to_csv('new.csv')

In [17]:
# But there is a problem in this csv file it has index from 0 to 5 which is not required.
# So we will discard the index before storing data into file

df.to_csv('new_no_index.csv', index=False)

In [18]:
# same for excel dataframe
df2['is_raining'] = [True, False, False, False, True, False]
df2

         day  temperature  windspeed  event  is_raining
0 2017-01-01           32          6   Rain        True
1 2017-02-01           35          7  Sunny       False
2 2017-03-01           28          2   Snow       False
3 2017-04-01           24          7   Snow       False
4 2017-05-01           32          4   Rain        True
5 2017-06-01           31          2  Sunny       False

In [20]:
df2.to_excel('new_excel.xlsx', index=False, sheet_name='weather')