In [7]:
import pandas as pd
import numpy as np

setosa = pd.read_csv('iris.csv').loc[ pd.read_csv('iris.csv').species == 'setosa' ]
versi = pd.read_csv('iris.csv').loc[ pd.read_csv('iris.csv').species == 'versicolor' ]
virgi = pd.read_csv('iris.csv').loc[ pd.read_csv('iris.csv').species == 'virginica' ]

In [5]:
setosa.tail(2)

    sepal_length  sepal_width  petal_length  petal_width species
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [8]:
virgi.tail(2)

     sepal_length  sepal_width  petal_length  petal_width    species
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

# Percentiles
The value below which a percentage of data falls.

In [9]:
# Suppose we calculate 10th percentile of a dataset which is 55.
# It means 10% values in dataset are below 55.
# It also means 90% values in dataset are above 55.

In [19]:
# Calculate percentile.

print(np.percentile(setosa.petal_length, [0,15,25,50,65]))

[1.  1.3 1.4 1.5 1.5]

In [16]:
print(np.percentile(setosa.petal_length, 10))   # for only one value of percentile.

1.3

# Quantiles
25th, 50th, 75th and 100th percentiles are called 1st, 2nd, 3rd and 4th Quantiles.

In [20]:
print(np.percentile(setosa.petal_length, [25,50,75,100]))

[1.4   1.5   1.575 1.9  ]

In [22]:
np.arange(25,101,25)  # numbers from 0 to 99 with gap of 25

array([ 25,  50,  75, 100])

In [23]:
print(np.percentile(setosa.petal_length, np.arange(25,101,25)))

[1.4   1.5   1.575 1.9  ]

### DataFrame.quantile()
Syntax: DataFrame.quantile(q=0.5, axis=0, numeric_only=True, interpolation=’linear’)

In [29]:
# Appling on a dataframe it can calculte qantile values for all columns in dataframe.

setosa.quantile([0.25, 0.5, 0.75, 1], axis = 0)

      sepal_length  sepal_width  petal_length  petal_width
0.25           4.8        3.125         1.400          0.2
0.50           5.0        3.400         1.500          0.2
0.75           5.2        3.675         1.575          0.3
1.00           5.8        4.400         1.900          0.6

In [30]:
# default q value is 0.5 (median)

setosa.quantile(axis = 0)

# median values for all columns

sepal_length    5.0
sepal_width     3.4
petal_length    1.5
petal_width     0.2
Name: 0.5, dtype: float64

### numpy.quantile()
numpy.quantile(arr, q, axis = None)

In [33]:
print(np.quantile(setosa.petal_length, [0.25, .50, 0.75, 1]))

[1.4   1.5   1.575 1.9  ]

### dataframe.describe()

In [38]:
setosa.petal_length.describe()

count    50.000000
mean      1.464000
std       0.173511
min       1.000000
25%       1.400000
50%       1.500000
75%       1.575000
max       1.900000
Name: petal_length, dtype: float64