In [3]:
import mysql.connector as mysql

# create connection with mysql
con = mysql.connect( host='localhost', user='root', password='mysql@dev' )

# create cursor to run queries
cur = con.cursor()

In [5]:
cur.execute("USE imdb")

In [6]:
cur.execute("SHOW TABLES;")
cur.fetchall()

[('actors',),
 ('directors',),
 ('directors_genres',),
 ('movies',),
 ('movies_directors',),
 ('movies_genres',),
 ('roles',)]

In [7]:
cur.execute("DESCRIBE movies;")
cur.fetchall()

[('id', b'int', 'NO', 'PRI', b'0', ''),
 ('name', b'varchar(100)', 'YES', 'MUL', None, ''),
 ('year', b'int', 'YES', '', None, ''),
 ('rankscore', b'float', 'YES', '', None, '')]

In [12]:
cur.execute("USE imdb")

In [13]:
cur.execute("SHOW TABLES;")
cur.fetchall()

[('actors',),
 ('directors',),
 ('directors_genres',),
 ('movies',),
 ('movies_directors',),
 ('movies_genres',),
 ('roles',)]

In [18]:
import pandas as pd

In [19]:
pd.read_sql_query("SHOW TABLES;", con)

     Tables_in_imdb
0            actors
1         directors
2  directors_genres
3            movies
4  movies_directors
5     movies_genres
6             roles