In [59]:
def string_features(S1, S2):
    set1 = set(S1.split())
    set2 = set(S2.split())
    
    a = len(set1.intersection(set2))
    
    b = list(set1.difference(set2))
    
    c = list(set2.difference(set1))
    
    return a, b, c

S1= "the first column F will contain only 5 uniques values"
S2= "the second column S will contain only 3 uniques values"

a,b,c = string_features(S1, S2)

print("a.", a)
print("b.", b)
print("c.", c)

a. 7
b. ['5', 'F', 'first']
c. ['second', 'S', '3']

<h3> Q9: Given two sentances S1, S2</h3>
You will be given two sentances S1, S2 your task is to find 
<pre>
a. Number of common words between S1, S2
b. Words in S1 but not in S2
c. Words in S2 but not in S1
</pre>

Ex: 
<pre>
S1= "the first column F will contain only 5 uniques values"
S2= "the second column S will contain only 3 uniques values"
Output:
a. 7
b. ['first','F','5']
c. ['second','S','3']
</pre>

In [56]:
S1= "the first column F will contain only 5 uniques values"
S2= "the second column S will contain only 3 uniques values"

In [52]:
set1 = set(S1.split())
set2 = set(S2.split())
print("set1 = ", set1)
print("set2 = ", set2)

set1 =  {'$', '5', 'will', 'contain', 'column', 'uniques', 'only', 'values', 'the', 'first', 'F'}
set2 =  {'$', '3', 'will', 'contain', 'column', 'uniques', '@', 'only', 'S', 'values', 'the', 'second'}

In [53]:
print(len(set1.intersection(set2)))

8

In [54]:
print(set1.difference(set2))

{'5', 'F', 'first'}

In [55]:
print(set2.difference(set1))

{'S', 'second', '@', '3'}